﻿#@model PhotoOrder.Web.Models.Kep
@{
    ViewBag.Title = "KepDetails";
}

<h2>Képek</h2>

@Html.ActionLink("Vissza a listához", "Index")

<table>
    <tr>
        <td>A kép id-je</td>
        <td>@Model.Id</td>
    </tr>

    <tr>
        <td>@Html.DisplayNameFor(m => m.RendelesiKod)</td>
        <td>@Html.DisplayFor(m => m.RendelesiKod)</td>
    </tr>

    <tr>
        <td>@Html.DisplayNameFor(m => m.Fotos)</td>
        <td>@Html.DisplayFor(m => m.Fotos)</td>
    </tr>

    <tr>
        <td>@Html.DisplayNameFor(m => m.EleresiUt)</td>
        <td>@Html.DisplayFor(m => m.EleresiUt)</td>
    </tr>

    <tr>
        <td>@Html.DisplayNameFor(m => m.Tajolas)</td>
        <td>@Html.DisplayFor(m => m.Tajolas)</td>
    </tr>



</table>