﻿@model PhotoOrder.Web.Models.Kep

<h2>Kép szerkesztése</h2>

@using (Html.BeginForm("Edit", "Kep"))
{
    <p style="color: red">@Html.ValidationSummary()</p>

    @Html.AntiForgeryToken();

    @Html.HiddenFor(m => m.Id)
    @Html.Hidden("editAction", ViewData["editAction"].ToString())

    <div class="editor-label">@Html.LabelFor(m => m.RendelesiKod)</div>
    <div class="editor-field">@Html.EditorFor(m => m.RendelesiKod)</div>

    <div class="editor-label">@Html.LabelFor(m => m.EleresiUt)</div>
    <div class="editor-field">@Html.EditorFor(m => m.EleresiUt)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Fotos)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Fotos)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Tajolas) (álló/fekvő)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Tajolas)</div>

    <input type="submit" value="Kész"/>
}