﻿@model PhotoOrder.Web.Models.KepViewModel
@{
    ViewBag.Title = "KepIndex";
}

<h2>Képek indexe</h2>
<h3>Magyarázat</h3>
<p>
    Az adatbázis rendszer egy leegyszerűsítése egy <a href="https://asulifotosa.hu/rendeles/">webshopnak</a> amit a prog 3 félévessel egyidőben kellett kiépítenem.
    Egy fotós cég iskolákban/óvodákban készít képeket, és minden gyerekhez egy rendelési kódot rendel. A szülők 
    ezeket a kódokat kapják kézbe minden fotózás után. Ezeket a kódokat be kell írniuk a weboldalra, amely kilistázza a gyermekükről
    készült összes képet, és tudnak rendelni.
</p>

<p style="color:red; font-weight: bold;">@TempData["editResult"]</p>

@Html.Partial("KepEdit", Model.EditedKep)

@Html.Partial("KepList", Model.Kepek)