﻿@model IEnumerable<PhotoOrder.Web.Models.Kep>

<h2>
    Képek listája
</h2>

@if (Model.Count() == 0)
{
    <p>Nincsenek még képek.</p>
}
else
{
    <table border="1">
        <tr>
            <td>Kép</td>
            <td>@Html.DisplayNameFor(m => m.First().RendelesiKod)</td>
            <td>Adatlap</td>
            <td>Törlés</td>
            <td>Szerkesztés</td>
        </tr>
        @foreach (var item in Model)
        {
    <tr>
        <td><img src="@Html.DisplayFor(m => item.EleresiUt)" alt="@Html.DisplayFor(m => item.EleresiUt)" /></td>
        <td>@Html.DisplayFor(m => item.RendelesiKod)</td>
        <td>@Html.ActionLink("[Megtekintés]", "Details", new { id = item.Id })</td>
        <td>@Html.ActionLink("[Törlés]", "Delete", new { id = item.Id })</td>
        <td>@Html.ActionLink("[Szerkesztés]", "Edit", new { id = item.Id })</td>
    </tr>
        }
    </table>
}
